<h1 class="page-header">Historico de Compras</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Exchange Compra</th>
        <th>Exchange Venda</th>
        <th>Percentual</th>
        <th>Montante</th>
        <th>Lucro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="compras">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr #nenhumaCompra>
        <td></td>
        <td>Nenhuma compra encontrada!</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
