<div class="container">
  <form>
    <div class="row">
        <div class="loop-exchang" *ngFor="let exchang of exchangs">
            <div class="col-xs-6 col-lg-2">
                <input type="radio" name="exchangcompra" [value]="exchang.name"> {{ exchang.name }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-lg-2">Compra</div>
        <div class="input-group col-xs-4 col-lg-2">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="compravalor" placeholder="Valor">
        </div>
    </div>

    <div class="row">
      <div class="loop-exchang" *ngFor="let exchang of exchangs">
          <div class="col-xs-6 col-lg-2">
              <input type="radio" name="exchangcompra" [value]="exchang.name"> {{ exchang.name }}
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-lg-2">Venda</div>
      <div class="input-group col-xs-4 col-lg-2">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="vendavalor" placeholder="Valor">
      </div>
      <div class="col-xs-4 col-lg-2">Montante</div>
      <div class="input-group col-xs-4 col-lg-2">
          <div class="input-group-addon">%</div>
          <input type="text" class="form-control" id="vendaporcentagem" placeholder="Montante">
      </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-lg-2">Quant R$:</div>
        <div class="input-group col-xs-4 col-lg-2">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="vendavalor" placeholder="Valor">
        </div>
        <div class="col-xs-4 col-lg-2">Qual %</div>
        <div class="input-group col-xs-4 col-lg-2">
            <div class="input-group-addon">%</div>
            <input type="text" class="form-control" id="vendaporcentagem" placeholder="Montante">
        </div>
      </div>
  </form>
</div>
