<div class="container">

  <form [formGroup]="f" (ngSubmit)="registrar()" class="form-signin">
    <h2 class="form-signin-heading">Registrar</h2>
    <label for="inputName" class="sr-only">Nome</label>
    <input type="name" id="inputNome" class="form-control" placeholder="Nome" required autofocus formControlName="name">

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus formControlName="email">

    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required formControlName="password">

    <label for="inputPassword2" class="sr-only">Repita a senha</label>
    <input type="password" id="inputPassword2" class="form-control" placeholder="Repita a senha" required formControlName="password2">

    <div class="checkbox">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    <a class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/login">Já sou registrado</a>
  </form>

  <campo-control-error></campo-control-error>
  <form-debug [form]="f"></form-debug>

</div>
<!-- /container -->
